@import "colors";
/* Borders*/
$small-border: 4px;
$medium-border: 8px;
$pill-border: 80px;

/* Shadows*/
$shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.2);
$shadow-2: 0px 0px 3px rgba(0, 0, 0, 0.2);
$shadow-3: 0px 1px 6px rgba(0, 0, 0, 0.25);

$button-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);

$tooltip-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

$modal-header-shadow: 0px 0px 5.33172px rgba(0, 0, 0, 0.5);

$border: 1px solid $color-neutral-black-light;