/*  Primary-colors  */
$color-primary-pure: #FD6000;
$color-primary-dark: #EB7223;
$color-primary-medium: #FF8E49;
$color-primary-light: #FFF3EC;

/* Neutral-colors */
$color-neutral-black-pure: #000000;
$color-neutral-black-dark: #333333;
$color-neutral-black-medium: #5E5E5E;
$color-neutral-black-light: #949596;

$color-neutral-white-pure: #FFFFFF;
$color-neutral-white-dark: #CAC9C9;
$color-neutral-white-medium: #F2F2F2;
$color-neutral-white-light: #F5F5F5;



/*  Support-colors  */
$color-green-status: #1A9C51;
$color-red-status: #DF513D;
$color-yellow-status: #FBBB37;
$color-blue-status: #1D3B74;



/*  Extras  */
$color-default: #798999;
$color-default-hover: #4F657A;
$color-highlight: #3BB8B0;
$color-purple: #8C2F9E;
$color-comments: #5F99CE;
$color-superlight: #FBFBFB;



/* Fonts-extra-colors*/
$font-color-medium: #595959;
$border-text-color: #D8D8D8;

$history-background-color: #D6D6D6;