$search_icon: "Search";

$find_in_page_icon: "find_in_page";

$highlight_icon: "highlight";

$file_upload_icon: "file_upload";

$history_icon: "history";

$subtitles_icon: "subtitles";

$topic_icon: "topic";

$arrow_forward_icon: "arrow_forward_ios";

$close_icon: "close";

$person_icon: "person";

$help_icon: "help";

$expand_less_icon: "expand_less";
$expand_more_icon: "expand_more";

$keyboard_left_icon: "keyboard_arrow_left";
$keyboard_right_icon: "keyboard_arrow_right";

$hub_icon: "hub";
$schema_icon: "schema";
$tree_icon: "account_tree";



/*
***********************************
***          Exceptions         ***
***********************************
*/
$apps_icon: "apps";

$hide_icon: "akar-icons_eye-closed";

$pj_icon: "apartment";

// Toggle
$toggle_off_icon: "State=toggle_of";
$toggle_on_icon: "State=toggle_on";


// Checkbox
$checkbox_blank_icon: "State=Blank";
$checkbox_checked_icon: "State=Selected";
$checkbox_disable_icon: "State=Disable-2";


// Settings
$settings_default_icon: "State=Default-1";
$settings_hover_icon: "State=Hover-1";
$settings_disable_icon: "State=Disable-1";


// Edit
$edit_default_icon: "State=Default";
$edit_hover_icon: "State=Hover";
$edit_disable_icon: "State=Disable";



$zoom_in_icon: "zoom-in";
$zoom_out_icon: "zoom-out";