button {
	cursor: pointer;
}

/* button_primary*/
.button_primary {
	@include mix_button($small-border);

	border: none;
	color: $color-neutral-white-pure;
	background-color: $color-primary-dark;
}

.button_primary:hover {
	background-color: ($color-primary-medium);
}

.button_primary:active {
	background-color: $color-primary-dark;
}

.button_primary:disabled {
	background-color: $color-neutral-white-dark;
}

/* Button-secondary*/
.button-secondary {
	@include mix_button($small-border);
	@include mix_btn_border_and_color($color-primary-dark);
}

.button-secondary:hover {
	@include mix_btn_border_and_color($color-primary-medium);
}

.button-secondary:active {
	border: $color-primary-dark;
	background-color: $color-primary-dark;
	color: $color-neutral-white-pure;
}

.button-secondary:disabled {
	border: $color-neutral-white-dark;
	color: $color-neutral-white-dark;
}

.button_text {
	@include mix_button($small-border);
	text-decoration: underline;
	border: none;
	background: none;
	color: $color-primary-dark;

	&:hover {
		color: $color-primary-medium;
	}

	&:active {
		color: $color-primary-dark;
	}

	&:disabled {
		color: $color-neutral-white-dark;
	}
}

#results_page {
	display: flex !important;
}

#btns_map {
	display: flex;
	flex-direction: column !important;
	gap: 16px;

	div {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	button {
		width: 32px;
		height: 32px;
		background: none no-repeat;
		border: 1px solid $color-neutral-black-medium;
		border-radius: $small-border;

		background-position: center;
	}

	/* Map view*/
	#map_view {
		#default {
			@include mix_insert_img($hub_icon);
		}

		#schema {
			@include mix_insert_img($schema_icon);
		}

		#account-tree {
			@include mix_insert_img($tree_icon);
		}
	}

	/* Zoom*/
	#zoom {
		#zoom_in {
			@include mix_insert_img($zoom_in_icon);
		}

		#zoom_out {
			@include mix_insert_img($zoom_out_icon);
		}
	}

	#subtitles {
		@include mix_insert_img($subtitles_icon);
	}
}
