button {
	cursor: pointer;
}

/* Button type: Primary*/
.button-primary {
	@include mix-button($small-border);

	border: none;
	color: $color-neutral-white-pure;
	background-color: $color-primary-dark;

	// Modifiers
	&:hover {
		background-color: ($color-primary-medium);
	}

	&:active {
		background-color: $color-primary-dark;
	}

	&:disabled {
		background-color: $color-neutral-white-dark;
	}
}

/* Button type: Secondary*/
.button-secondary {
	@include mix-button($small-border);
	@include mix-btn-border-and-color($color-primary-dark);

	&:hover {
		@include mix-btn-border-and-color($color-primary-medium);
	}

	&:active {
		border: $color-primary-dark;
		background-color: $color-primary-dark;
		color: $color-neutral-white-pure;
	}

	&:disabled {
		border: $color-neutral-white-dark;
		color: $color-neutral-white-dark;
	}
}

// Button type: Text
.button-text {
	@include mix-button($small-border);
	text-decoration: underline;
	border: none;
	background: none;
	color: $color-primary-dark;

	&:hover {
		color: $color-primary-medium;
	}

	&:active {
		color: $color-primary-dark;
	}

	&:disabled {
		color: $color-neutral-white-dark;
	}
}

// Network buttons container
.network-buttons-container {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.map-view,
	.zoom {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.network-buttons-container__button {
		width: 32px;
		height: 32px;
		border: 1px solid $color-neutral-black-medium;
		border-radius: $small-border;

		background-color: $color-neutral-white-pure;
		background-position: center;
		background-repeat: no-repeat;
	}

	/* Map view*/
	.map-view {
		.default {
			@include mix-insert-image($hub_icon);
			&._active {
				@include mix-insert-image($hub_active-icon);
				border-color: $color-primary-dark;
			}
		}

		.schema {
			@include mix-insert-image($schema_icon);
			&._active {
				@include mix-insert-image($schema_active-icon);
				border-color: $color-primary-dark;
			}
		}

		.account-tree {
			@include mix-insert-image($tree_icon);
			&._active {
				@include mix-insert-image($tree_active-icon);
				border-color: $color-primary-dark;
			}
		}
	}

	/* Zoom*/
	.zoom {
		.zoom-in {
			@include mix-insert-image($zoom-in-icon);
			&:hover {
				@include mix-insert-image($zoom-in_hover-icon);
				border-color: $color-primary-medium;
			}
			&:active {
				@include mix-insert-image($zoom-in_active-icon);
				border: none;

				background-color: $color-primary-dark;
			}
		}

		.zoom-out {
			@include mix-insert-image($zoom-out-icon);
			&:hover {
				@include mix-insert-image($zoom-out_hover-icon);
				border-color: $color-primary-medium;
			}
			&:active {
				@include mix-insert-image($zoom-out_active-icon);
				border: none;

				background-color: $color-primary-dark;
			}
		}
	}

	.subtitles {
		@include mix-insert-image($subtitles_icon);
		&._active {
			@include mix-insert-image($subtitles_active-icon);
			border-color: $color-primary-dark;
		}
	}
}
