// Dropdown_area
.dropdown_area {
	position: relative;
}

.empty_button.help
{
	margin-right: 0;
}

.dropdown
{
	@include mix_dropdown();
}

.dropdown_area.to_right .dropdown{
	right: 0;
	left: auto;
}