// dropdown-area
.dropdown-area {
	position: relative;
	height: max-content;
	max-height: 48px;
}

.button.help {
	margin-right: 0;
}

.dropdown {
	@include mix-dropdown();
}

.dropdown-area._position--right .dropdown {
	right: 0;
	left: auto;
}

.dropdown-history {
	width: max-content;
	min-width: 170px;
	padding: 24px;
	filter: drop-shadow($history-shadow $history-background-color);
	border-radius: $medium-border;

	background-color: $color-neutral-white-pure;

	h2.p-2 {
		color: $color-neutral-black-medium;
	}
}

.dropdown-history,
.dropdown-subtitles {
	.dropdown-information-container {
		display: flex;
		flex-direction: column;

		.list-item {
			@extend .p;
			position: relative;
			padding: 8px;
			padding-left: 16px;

			color: $color-neutral-black-medium;

			&::before {
				content: " ";
				width: 0.5px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: $color-primary-dark;
			}
			&:last-of-type,
			&:first-of-type {
				&::before {
					height: 50%;
				}
			}

			&:first-of-type {
				&::before {
					top: auto;
					bottom: 0;
				}
			}

			&::after {
				content: "";
				width: 4.5px;
				height: 4.5px;
				border-radius: 50%;
				position: absolute;
				left: -2px;
				top: 50%;
				transform: translateY(-50%);

				background-color: $color-primary-dark;
			}
		}
	}
}

.dropdown-subtitles {
	bottom: 0;
	top: auto;
	left: calc(100% + 8px) !important;
	right: auto;
	width: 375px;
	height: max-content;
	max-height: 75vh;
	z-index: 99;
	box-sizing: border-box;
	padding: 8px;
	padding-left: 24px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	opacity: 0.9;
	overflow-y: scroll !important;
	.align-legend-items {
		.list-item {
			display: grid !important;
			grid-template-columns: max-content 1fr;
			gap: 8px !important;
			flex-direction: row;
			&:not(:last-of-type)::after {
				content: none;
			}

			.subtitles-text {
				@extend .p;
				font-size: 14px !important;
				line-height: 150% !important;
			}
		}
	}

	.node {
		position: relative;
		max-height: max-content;
		&::before {
			content: "" !important;
			width: 4.5px !important;
			height: 4.5px !important;
			position: absolute !important;
			left: -18px !important;
			top: 50% !important;
			transform: translateY(-50%) !important;
			border-radius: 50% !important;

			background-color: $color-primary-dark !important;
		}
	}
}
