/* Inputs*/

.input-button
{
	width: 40px;
	height: 40px;
	border: none;
	border-radius: $small-border;
	box-shadow: $button-shadow;

	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $color-neutral-white-pure;
}

/*PF*/
.input-button.button-pf 
{
	@include mix_insert_img($person_icon);
}

.input-button.button-pf.actived
{
	background-image: url(./../images/Icons/person-white.svg);
}

.input-button.input-button.actived 
{
	background-color: $color-primary-dark;
}

/*PJ*/
.input-button.button-pj 
{
	background-image: url(./../images/Icons/apartment.svg);
}

.input-button.button-pj.actived
{
	background-image: url(./../images/Icons/apartment-white.svg);
}

.input-button.input-button.actived 
{
	background-color: $color-primary-dark;
}

.empty_button
{
	width: 24px;
	height: 24px;
	border: none;
	box-sizing: border-box;

	background: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.empty_button.help
{
	@include mix_insert_img($help_icon);
	margin-right: 25px;
}

.empty_button.apps
{
	@include mix_insert_img($apps_icon);
}

.empty_button.consult
{
	@include mix_insert_img($search_icon);
	background-repeat: no-repeat !important;
	border-radius: 0 !important;
	margin-right: 25px;
}

.empty_button.file
{
	@include mix_insert_img($topic_icon);
	margin-right: 25px;
}

#extra-options {
	display: none;
}

#extra-options.if_onresult {
	align-items: center;
	display: flex;
	width: 100%;
}

.empty_button.find_in_page {
	@include mix_insert_img($find_in_page_icon);
	margin-right: 25px;
}

.empty_button.highlight {
	@include mix_insert_img($highlight_icon);
	margin-right: 25px;
}

.empty_button.file_upload {
	@include mix_insert_img($file_upload_icon);
	margin-right: 35px;
}

.autosave-container {
	display: inline-flex;
	align-items: center;
	height: 100%;
	gap: 10px;
	
	label {
		font-size: 16px;
		line-height: 100%;
		color: $color-neutral-black-medium;
	}

	input {
		appearance: none;
		width: 35px;
		height: 24px;
		cursor: pointer;

		background: no-repeat center;
		@include mix_insert_img($toggle_off_icon);
		background-size: contain;

		&:checked {
			@include mix_insert_img($toggle_on_icon);
		}
	}
}

.empty_button.history {
	@include mix_insert_img($history_icon);
	margin-left: auto;
}


.fieldset-search
{
	width: 360px;
	display: grid;
	grid-template-columns: 1fr max-content;
	margin-left: 15px;
	border: 1px solid $color-neutral-white-dark;
	box-sizing: border-box;
	border-radius: $small-border;
	overflow: hidden;

	input
	{
		border: none;
		height: 40px;
		padding: 10px 15px;
		box-sizing: border-box;
		background: $color-neutral-white-medium;
		outline: none;
	}

	.search
	{
		border-radius: 0;
		background-image: url(./../images/Icons/search-white.svg);
		background-color: $color-neutral-white-dark;
	}
}

.fieldset-search.actived
{
	border-color: $color-neutral-black-pure;
	box-shadow: $shadow-1;
	input
	{
		color: $color-neutral-black-pure;
		background: $color-neutral-white-pure;
	}
}

.fieldset-search.focus
{
	border-color: $color-primary-dark;
	box-shadow: $shadow-1;
	.search
	{
		background-color: $color-primary-dark;
	}
}



@media only screen and (max-width: 576px) {
	.interative-area
	{
		display: grid !important;
		grid-template-rows: auto auto;
		box-sizing: border-box;

		.fieldset-search {
			max-width: 82vw;
			margin: 15px 0 0;
		}
	}
}