@import url(./../css/reset.css); /*  Primary-colors  */
/* Neutral-colors */
/*  Support-colors  */
/*  Extras  */
/* Fonts-extra-colors*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 110%;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
}

.h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
}

.h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 150%;
}

.p, #modal .on_modal.composite_modal .modal_text, .dropdown_subtitles .align_legend_items .history_item .subtitles_text, .dropdown_history .dropdown_information_container .history_item,
.dropdown_subtitles .dropdown_information_container .history_item {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.p-2, #modal > * .modal_subtitle, #modal > * .modal_division .modal_division_subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.small, .entity .entity_legend *.entity_cpf {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.small-2, .entity .entity_legend *.entity_name {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

/*  Primary-colors  */
/* Neutral-colors */
/*  Support-colors  */
/*  Extras  */
/* Fonts-extra-colors*/
/* Borders*/
/* Shadows*/
/*
***********************************
***          Exceptions         ***
***********************************
*/
button {
  cursor: pointer;
}

/* button_primary*/
.button_primary {
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  border: none;
  color: #FFFFFF;
  background-color: #EB7223;
}

.button_primary:hover {
  background-color: #FF8E49;
}

.button_primary:active {
  background-color: #EB7223;
}

.button_primary:disabled {
  background-color: #CAC9C9;
}

/* Button-secondary*/
.button-secondary {
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  border-color: #EB7223;
  border: 1px solid;
  background: none;
  color: #EB7223;
}

.button-secondary:hover {
  border-color: #FF8E49;
  border: 1px solid;
  background: none;
  color: #FF8E49;
}

.button-secondary:active {
  border: #EB7223;
  background-color: #EB7223;
  color: #FFFFFF;
}

.button-secondary:disabled {
  border: #CAC9C9;
  color: #CAC9C9;
}

.button_text {
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: underline;
  border: none;
  background: none;
  color: #EB7223;
}
.button_text:hover {
  color: #FF8E49;
}
.button_text:active {
  color: #EB7223;
}
.button_text:disabled {
  color: #CAC9C9;
}

#results_page {
  display: flex !important;
}

#btns_map {
  display: flex;
  flex-direction: column !important;
  gap: 16px;
  /* Map view*/
  /* Zoom*/
}
#btns_map div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#btns_map button:not(.knot) {
  width: 32px;
  height: 32px;
  background: none no-repeat;
  border: 1px solid #5E5E5E;
  border-radius: 4px;
  background-position: center;
}
#btns_map #map_view #default {
  background-image: url(./../images/Icons/hub.svg);
}
#btns_map #map_view #schema {
  background-image: url(./../images/Icons/schema.svg);
}
#btns_map #map_view #account-tree {
  background-image: url(./../images/Icons/account_tree.svg);
}
#btns_map #zoom #zoom_in {
  background-image: url(./../images/Icons/zoom-in.svg);
}
#btns_map #zoom #zoom_out {
  background-image: url(./../images/Icons/zoom-out.svg);
}
#btns_map #subtitles {
  background-image: url(./../images/Icons/subtitles.svg);
}

.dropdown_area {
  position: relative;
}

.empty_button.help {
  margin-right: 0;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  display: block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  background: #FBFBFB;
}
.dropdown:not(.to_right) {
  left: 0;
}
.dropdown button {
  width: 200px;
  display: flex;
  border: none;
  padding: 11px 8px 11px 16px;
  box-sizing: border-box;
  text-align: start;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5E5E5E;
  background: none;
}
.dropdown button:disabled {
  color: #949596;
}
.dropdown button:hover {
  background: #FF8E49;
  color: #FFFFFF;
}
.dropdown button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5E5E5E;
}

.dropdown_area.to_right .dropdown {
  right: 0;
  left: auto;
}

.dropdown_history {
  width: max-content;
  min-width: 170px;
  padding: 24px;
  filter: drop-shadow(0px 1px 10px #D6D6D6);
  border-radius: 8px;
  background-color: #FFFFFF;
}
.dropdown_history h2.p-2, .dropdown_history #modal > * h2.modal_subtitle, #modal > * .dropdown_history h2.modal_subtitle, .dropdown_history #modal > * .modal_division h2.modal_division_subtitle, #modal > * .modal_division .dropdown_history h2.modal_division_subtitle {
  color: #5E5E5E;
}

.dropdown_history .dropdown_information_container,
.dropdown_subtitles .dropdown_information_container {
  display: flex;
  flex-direction: column;
}
.dropdown_history .dropdown_information_container .history_item,
.dropdown_subtitles .dropdown_information_container .history_item {
  position: relative;
  padding: 8px;
  padding-left: 16px;
  color: #5E5E5E;
}
.dropdown_history .dropdown_information_container .history_item::before,
.dropdown_subtitles .dropdown_information_container .history_item::before {
  content: " ";
  width: 0.5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #EB7223;
}
.dropdown_history .dropdown_information_container .history_item:last-of-type::before, .dropdown_history .dropdown_information_container .history_item:first-of-type::before,
.dropdown_subtitles .dropdown_information_container .history_item:last-of-type::before,
.dropdown_subtitles .dropdown_information_container .history_item:first-of-type::before {
  height: 50%;
}
.dropdown_history .dropdown_information_container .history_item:first-of-type::before,
.dropdown_subtitles .dropdown_information_container .history_item:first-of-type::before {
  top: auto;
  bottom: 0;
}
.dropdown_history .dropdown_information_container .history_item::after,
.dropdown_subtitles .dropdown_information_container .history_item::after {
  content: "";
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #EB7223;
}

.dropdown_subtitles {
  bottom: 0;
  top: auto;
  left: calc(100% + 8px) !important;
  right: auto;
  width: 375px;
  height: max-content;
  max-height: 75vh;
  z-index: 99;
  box-sizing: border-box;
  padding: 8px;
  padding-left: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.9;
  overflow-y: scroll !important;
}
.dropdown_subtitles .align_legend_items .history_item {
  display: grid !important;
  grid-template-columns: max-content 1fr;
  gap: 8px !important;
  flex-direction: row;
}
.dropdown_subtitles .align_legend_items .history_item:not(:last-of-type)::after {
  content: none;
}
.dropdown_subtitles .align_legend_items .history_item .subtitles_text {
  font-size: 14px !important;
  line-height: 150% !important;
}
.dropdown_subtitles .knot {
  position: relative;
  max-height: max-content;
}
.dropdown_subtitles .knot::before {
  content: "" !important;
  width: 4.5px !important;
  height: 4.5px !important;
  position: absolute !important;
  left: -18px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 50% !important;
  background-color: #EB7223 !important;
}

/* Inputs*/
.input_button {
  appearance: none;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
}

/*PF*/
.input_button.button_pf {
  background-image: url(./../images/Icons/person.svg);
}

.input_button.button_pf.actived {
  background-image: url(./../images/Icons/person-white.svg);
}

.input_button.input_button.actived {
  background-color: #EB7223;
}

/*PJ*/
.input_button.button_pj {
  background-image: url(./../images/Icons/apartment.svg);
}

.input_button.button_pj.actived {
  background-image: url(./../images/Icons/apartment-white.svg);
}

.input_button.input_button.actived {
  background-color: #EB7223;
}

.empty_button {
  width: 24px;
  height: 24px;
  border: none;
  box-sizing: border-box;
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.empty_button.help {
  background-image: url(./../images/Icons/help.svg);
  margin-right: 25px;
}
.empty_button.help:hover {
  background-image: url(./../images/Icons/help-white.svg);
  background-size: 18px !important;
}

.empty_button.apps {
  background-image: url(./../images/Icons/apps.svg);
}
.empty_button.apps:hover {
  background-image: url(./../images/Icons/apps-white.svg);
}

.empty_button.consult {
  background-image: url(./../images/Icons/Search.svg);
  background-repeat: no-repeat !important;
  border-radius: 0 !important;
  margin-right: 25px;
}

.empty_button.file {
  background-image: url(./../images/Icons/topic.svg);
  margin-right: 25px;
}

#extra_options {
  align-items: center;
  display: flex;
  width: 100%;
}

.empty_button.find_in_page {
  background-image: url(./../images/Icons/find_in_page.svg);
  margin-right: 25px;
}

.empty_button.highlight {
  background-image: url(./../images/Icons/highlight.svg);
  margin-right: 25px;
}

.empty_button.file_upload {
  background-image: url(./../images/Icons/file_upload.svg);
  margin-right: 35px;
}

.autosave-container {
  display: inline-flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.autosave-container label {
  font-size: 16px;
  line-height: 100%;
  color: #5E5E5E;
}
.autosave-container input {
  appearance: none;
  width: 35px;
  height: 24px;
  cursor: pointer;
  background: no-repeat center;
  background-image: url(./../images/Icons/State=toggle_of.svg);
  background-size: contain;
}
.autosave-container input:checked {
  background-image: url(./../images/Icons/State=toggle_on.svg);
}

.empty_button.history {
  background-image: url(./../images/Icons/history.svg);
  margin-left: auto;
}

.search_field {
  width: 360px;
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-left: 15px;
  border: 1px solid #949596;
  box-sizing: border-box;
  border-radius: 4px;
}
.search_field > * {
  height: 100%;
}
.search_field input {
  border: none;
  padding: 10px 15px;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  outline: none;
  background: #F2F2F2;
}
.search_field .search {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url(./../images/Icons/search-white.svg);
  background-color: #CAC9C9;
}

.interative_area.research {
  width: 480px;
  height: 40px;
}
.interative_area.research .search_field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.interative_area.research .search_field input {
  background: #FFFFFF;
}
.interative_area.research .search {
  background-image: url(./../images/Icons/find_in_page-white.svg);
}

.search_field.actived {
  border-color: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.search_field.actived input {
  color: #000000;
  background: #FFFFFF;
}

.search_field.focus {
  border-color: #EB7223;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.search_field.focus .search {
  background-color: #EB7223;
}

@media only screen and (max-width: 576px) {
  .interative_area {
    display: grid !important;
    grid-template-rows: auto auto;
    box-sizing: border-box;
  }
  .interative_area .search_field {
    max-width: 82vw;
    margin: 15px 0 0;
  }
}
.input_text {
  width: 100%;
  max-width: 480px;
  height: 40px;
  padding: 9px 16px 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #949596;
  border-radius: 4px;
}

#modal {
  /* More complex modals */
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
#modal > * {
  border-radius: 4px;
  position: relative;
  display: none;
  width: 600px;
  min-height: 224px;
  padding: 8px 24px;
  box-sizing: border-box;
  background: #FFFFFF;
  /* For subdivision on modals*/
}
#modal > *.on_modal {
  display: block;
}
#modal > *#fonts_modal {
  width: 800px;
}
#modal > * .modal_body {
  min-height: 224px !important;
  min-width: 600px;
}
#modal > * .fox-head-logo {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-top: 18px;
  background: url(./../images/fox-cabeca.svg) no-repeat center;
  background-size: contain;
}
#modal > * .close_modal {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 13px;
  right: 13px;
  border: none;
  cursor: pointer;
  background: url(./../images/Icons/close.svg) no-repeat center;
}
#modal > * .h4 {
  color: #EB7223;
  text-align: center;
}
#modal > *:not(.composite_modal) .h4 {
  margin-top: 8px;
}
#modal > *:not(.modal_body) h4 {
  width: 100%;
}
#modal > * .p-2, #modal > * .modal_subtitle, #modal > * .modal_division .modal_division_subtitle {
  text-align: center;
}
#modal > * .buttons_container {
  margin: 18px auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  width: max-content;
}
#modal > * .modal_division > * {
  padding: 0 16px;
}
#modal > * .modal_division > .modal_division_subtitle {
  padding: 0 8px;
}
#modal > * .modal_division:not(:last-of-type) {
  margin-bottom: 24px;
}
#modal > * .modal_division .modal_division_subtitle {
  padding-bottom: 8px;
  color: #FD6000;
  font-weight: 700;
  text-align: start;
}
#modal > * .modal_division li {
  padding: 16px 0;
  border-bottom: 2px solid #D8D8D8;
}
#modal > * .modal_division li:first-of-type {
  padding-top: 0;
}
#modal > * .modal_subtitle {
  text-align: start;
  width: 100%;
  color: #595959;
}
#modal > *:not(#fonts_modal) .modal_subtitle:not(.modal_description) {
  padding: 16px 8px 8px;
  box-sizing: border-box;
}
#modal #add_modal .modal_subtitle {
  margin-bottom: 24px;
}
#modal .on_modal.composite_modal {
  display: grid !important;
  grid-template-rows: max-content 1fr;
  max-height: 480px;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
#modal .on_modal.composite_modal#open_modal .modal_subtitle:not(.modal_description), #modal .on_modal.composite_modal#open_no_results_modal .modal_subtitle:not(.modal_description) {
  max-width: 480px;
  padding-left: 0;
  padding-right: 0;
}
#modal .on_modal.composite_modal#open_no_results_modal {
  height: 288px;
}
#modal .on_modal.composite_modal#open_no_results_modal .composite_modal_slot {
  padding-top: 0;
}
#modal .on_modal.composite_modal#open_no_results_modal .modal_description {
  margin-top: 18px;
  margin-bottom: 0;
}
#modal .on_modal.composite_modal#open_no_results_modal .modal_text {
  max-width: 480px;
  font-size: 14px;
}
#modal .on_modal.composite_modal h4 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal .on_modal.composite_modal #modal_header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100%;
  align-items: center;
  box-shadow: 0px 0px 5.33172px rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
}
#modal .on_modal.composite_modal .modal_text {
  color: #595959;
}
#modal .on_modal.composite_modal > * {
  padding: 0 24px;
}
#modal .on_modal.composite_modal .composite_modal_slot {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  overflow-y: scroll;
  align-items: center;
}
#modal .on_modal.composite_modal .modal_description {
  text-align: center;
  margin-bottom: 24px;
}

#save_modal #map_save_name {
  width: 480px;
  height: 40px;
  border-radius: 4px;
}
#save_modal .buttons_container {
  margin-right: 0;
}
#save_modal .buttons_container button:first-of-type {
  content: "Cancelar" !important;
}

html {
  height: 100%;
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #FFF3EC;
}

* {
  outline: none;
}

.p_fj_container {
  gap: 8px;
}

.interative_area {
  display: flex;
}

*::-webkit-scrollbar {
  appearance: none;
  width: 5.72px;
  height: 5.72px;
}

*::-webkit-scrollbar-thumb {
  appearance: none;
  border-radius: 4px;
  background: #949596;
}

*::-webkit-scrollbar-corner {
  appearance: none;
}

#container_home_page {
  z-index: 1;
  padding: 8px 24px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  background: url(./../../assets/images/fox-dashing.svg) no-repeat bottom 25px right 3.5rem, url(./../../assets/images/bg-home-page.svg) no-repeat bottom right;
  background-size: 50%;
  background-attachment: fixed;
}
#container_home_page .container {
  margin-top: 20vh;
  margin-left: 3vw;
}
#container_home_page .container h2 {
  font-weight: 400;
  line-height: 150%;
}
#container_home_page .container .interative_area {
  display: flex;
  margin-top: 25px;
}
#container_home_page .container .interative_area > div {
  display: flex;
}
@media only screen and (max-width: 576px) {
  #container_home_page {
    background-size: 85vw;
  }
  #container_home_page .container {
    margin-top: 10vh;
  }
}

.consult_data_list {
  padding-right: 40px;
  background: url(./../images/Icons/expand_more.svg) no-repeat !important;
  background-size: 24px 24px;
  background-position: center right 8px !important;
}

/*
*********************
*** 			App			***
*********************
*/
#app {
  height: 100% !important;
  display: grid;
  position: relative;
  grid-template-rows: max-content 1fr;
}

/*
*****************************
*** 			HeaderApp 			***
*****************************
*/
#header {
  position: sticky;
  top: 0;
  z-index: 3;
}

#header_bottom_row,
#header_top_row {
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 48px;
  max-height: 48px;
  box-sizing: border-box;
}

#header__buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

#header_top_row .empty_button {
  position: relative;
  height: 48px;
  width: 48px;
  background-size: 24px;
}

#header_top_row .empty_button:hover {
  background-color: #EB7223;
  transition: all ease-in-out 300ms;
}

#header_top_row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  background: #FFFFFF;
}

#header_bottom_row {
  width: 100%;
  background: none;
}

/*
*****************************
*** 			HomePage  			***
*****************************
*/
#container_home_page {
  z-index: 1;
  padding: 8px 24px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  background: url(./../../assets/images/fox-dashing.svg) no-repeat bottom 25px right 3.5rem, url(./../../assets/images/bg-home-page.svg) no-repeat bottom right;
  background-size: 50%;
  background-attachment: fixed;
}
#container_home_page .container {
  margin-top: 20vh;
  margin-left: 3vw;
}
#container_home_page .container h2 {
  font-weight: 400;
  line-height: 150%;
}
#container_home_page .container .interative_area {
  display: flex;
  margin-top: 25px;
}
#container_home_page .container .interative_area > div {
  display: flex;
}
@media only screen and (max-width: 576px) {
  #container_home_page {
    background-size: 85vw;
  }
  #container_home_page .container {
    margin-top: 10vh;
  }
}

/*
*****************************
*** 			ResultsPage			***
*****************************
*/
#results_page {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  background-color: #FBFBFB;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
#results_page #network {
  width: 100%;
  height: 100%;
}

/*
*******************************
***				Modals.vue				***
*******************************	
*/
#open_modal {
  height: 480px;
}

.modal_description {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  margin-top: 8px;
}

/*
*********************************
***			AccordionItem.vue			***
*********************************
*/
.accordion {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion-item {
  background: #fff;
  border: 1px solid #949596;
}
.accordion-item.change_border_color {
  border-color: #EB7223;
}
.accordion-item * {
  color: #5E5E5E;
}
.accordion-item:last-of-type {
  border-radius: 4px;
}
.accordion-item:first-of-type {
  border-radius: 4px;
}
.accordion-item .accordion-button.collapsed {
  border-radius: 4px;
}
.accordion-item .accordion-button {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 9px 16px 10px 8px;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  box-sizing: border-box;
  background: none;
}
.accordion-item .accordion-button::after {
  content: " ";
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(./../images/Icons/expand_more.svg) no-repeat center;
}
.accordion-item .accordion-button:not(.collapsed) {
  border-bottom: 1px solid #949596;
  border-color: #EB7223;
}
.accordion-item .accordion-button:not(.collapsed)::after {
  background: url(./../images/Icons/expand_less.svg);
}
.accordion-item .accordion-button input[type=text] {
  height: max-content;
  width: 328px;
  border: none;
  padding: 4px 8px !important;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 100%;
  background-color: #F2F2F2;
}
.accordion-item .accordion-button input[type=text][disabled] {
  padding: 4px 8px !important;
  background: #FFFFFF !important;
}
.accordion-item:last-of-type .accordion-collapse {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.accordion-item .collapse:not(.show) {
  display: none;
}
.accordion-item .accordion-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.accordion-item .accordion-body > * {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.accordion-item .accordion-body p {
  font-weight: 600;
}
.accordion-item .accordion-body p:first-of-type span {
  color: #EB7223;
}
.accordion-item .accordion-body p span {
  font-weight: 400;
}

/*
******************************
*** 			MapEditBtns			 ***
******************************
*/
.map_edit_btns {
  display: flex;
  position: absolute;
  right: 40px;
  gap: 8px;
}
.map_edit_btns button {
  width: 24px;
  height: 24px;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.map_edit_btns .delete {
  background-image: url(../images/Icons/delete.svg);
}
.map_edit_btns .delete:disabled {
  background-image: url(../images/Icons/delete-disabled.svg);
}
.map_edit_btns .edit {
  background-image: url(../images/Icons/edit.svg);
}
.map_edit_btns .edit:disabled {
  background-image: url(../images/Icons/edit-disabled.svg);
}
.map_edit_btns .open_in_new {
  background-image: url(../images/Icons/open_in_new.svg);
}

/*
******************************
*** 			MapSwitches			 ***
******************************
*/
#container_map {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

/*
***************************
*** 			Tooltip 			***
***************************
*/
.tooltip_caller {
  position: relative;
}
.tooltip_caller .tooltip_desc {
  display: none;
}
.tooltip_caller:not(.autosave-container):hover .tooltip_desc, .tooltip_caller.autosave-container input:hover + .tooltip_desc {
  display: block;
  position: absolute;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 11;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  white-space: nowrap;
  background: #333333;
}
.tooltip_caller:not(.autosave-container):hover .tooltip_desc.tooltip_right, .tooltip_caller.autosave-container input:hover + .tooltip_desc.tooltip_right {
  left: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
}
.tooltip_caller:not(.autosave-container):hover .tooltip_desc.tooltip_right::before, .tooltip_caller.autosave-container input:hover + .tooltip_desc.tooltip_right::before {
  left: -5px;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.tooltip_caller:not(.autosave-container):hover .tooltip_desc.tooltip_bottom, .tooltip_caller.autosave-container input:hover + .tooltip_desc.tooltip_bottom {
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}
.tooltip_caller:not(.autosave-container):hover .tooltip_desc.tooltip_bottom::before, .tooltip_caller.autosave-container input:hover + .tooltip_desc.tooltip_bottom::before {
  top: 0px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}
.tooltip_caller:not(.autosave-container):hover .tooltip_desc::before, .tooltip_caller.autosave-container input:hover + .tooltip_desc::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  z-index: -10;
  background: #333333;
}
.tooltip_caller.autosave-container input:hover + .tooltip_desc {
  left: 97.75px !important;
}
.tooltip_caller.apps .tooltip_desc {
  top: calc(100% + 8px);
  right: auto !important;
  left: 8px !important;
  transform: translateX(-50%);
}
.tooltip_caller.apps .tooltip_desc::before {
  top: 0;
  right: 32px;
  transform: rotate(45deg) translateX(-50%);
}

/*
*****************************
***				Knot.vue				***
*****************************
*/
.entity .knot {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: #798999;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.entity .knot:not([disabled]):hover {
  background-color: #4F657A;
}
.entity .knot[disabled] {
  background-color: #798999;
}
.entity .knot[disabled]::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: 50%;
  background: #949596;
}
.entity .knot.physical_person {
  background-image: url(./../images/Icons/person-white.svg);
}
.entity .knot.legal_person {
  background-image: url(./../images/Icons/apartment-white.svg);
}
.entity .entity_subtype {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  transform: translateX(-25%) translateY(25%);
  align-items: center;
  justify-content: center;
  font-size: 7px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
}
.entity .adm .entity_subtype {
  background: #FD6000;
}
.entity .sp .entity_subtype {
  background: #1D3B74;
}
.entity .pep .entity_subtype {
  background: #1A9C51;
}
.entity .ellipsis .entity_subtype {
  background: url(./../images/Icons/more_horiz.svg) no-repeat center, #FBBB37 !important;
}
.entity.branch .knot {
  background-image: url(./../images/Icons/apartment-branch.svg) !important;
}
.entity .entity_legend * {
  color: #5E5E5E;
}
.entity.highlight .knot {
  background-color: #3BB8B0;
}
.entity.no_highlight .knot {
  background-color: #CAC9C9;
}
.entity.no_highlight .entity_legend * {
  color: #CAC9C9;
}
.entity.finded .knot {
  background-color: #8C2F9E;
}

#btns_map .tooltip_caller:hover {
  filter: invert(1);
}
#btns_map .tooltip_caller:hover .tooltip_desc {
  filter: invert(1);
}

/*# sourceMappingURL=style.css.map */
